.card-block
  margin 0 auto
  text-align: center

.cards
  display flex
  flex-wrap wrap
  gap 1rem
  justify-content center

.card
  border 1px solid #ccc
  border-radius .5rem
  box-shadow 0 0 .75rem rgba(0, 0, 0, 0.5)
  padding: 1rem
  width 30%
  display flex
  flex-flow column nowrap
  align-items: center
  gap: 1rem
.btn
  padding 1rem
  border-radius .5rem
  border 1px solid #ccc
  background-color yellow
  color black
  font-weight 500
  text-decoration: none
