.description
  background-color rgba(120, 224, 255, 0.12)
  padding 2rem
  box-shadow 0 0 2rem rgba(0, 0, 0, 0.2)
  text-align center
  
.details
  display flex
  flex-flow column nowrap 
  align-items: center
  img
    width fit-content

.tags
  display inline-flex

.tag
  background-color rgba(120, 224, 255, 0.12)
  padding 0.5rem 1rem
  margin 0 0.5rem
  border-radius 0.5rem
  box-shadow 0 0 2rem rgba(0, 0, 0, 0.2)
  font-size 1.2rem
  font-weight 500
  color rgba(0, 0, 0, 0.8)
  text-transform uppercase
  &:hover
    background-color rgba(120, 224, 255, 0.2)
    box-shadow 0 0 2rem rgba(0, 0, 0, 0.4)

